h1{
  text-shadow:3px 2px 3px #9E3434;

    color:green;
   text-decoration-color:green;

}



body{
background-image:url("one.jpg");
background-color: #cccccc;
}

input
{
   border-radius:34px;
}

h3
{
  color: green;
text-decoration-color: green;
}


button
{

  border-radius: 35px;
  border-color: #0DE9C8;
}
